@media only screen and (max-width: 382px) {
  /* line 2, ../sass/responsive.scss */
  #nav {
    display: none;
  }

  /* line 5, ../sass/responsive.scss */
  .menu {
    visibility: visible;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 12, ../sass/responsive.scss */
  #about .aboutMe .leftCont {
    float: none;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-right: 0;
  }
  /* line 18, ../sass/responsive.scss */
  #about .aboutMe .leftCont img {
    max-width: 70%;
  }
  /* line 22, ../sass/responsive.scss */
  #about .aboutMe .rightCont {
    float: none;
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }
  /* line 28, ../sass/responsive.scss */
  #about .aboutMe .aboutDetails {
    padding: 50px 0 50px 20px;
  }

  /* line 33, ../sass/responsive.scss */
  #portfolio .portfolioBox4 {
    padding-top: 30px;
  }
  /* line 36, ../sass/responsive.scss */
  #portfolio img {
    max-width: 100%;
  }

  /* line 40, ../sass/responsive.scss */
  #contact {
    text-align: center;
  }

  /* line 43, ../sass/responsive.scss */
  .skillCont {
    margin-bottom: 20px;
  }

  /* line 49, ../sass/responsive.scss */
  #about,
  #skill,
  #portfolio,
  #contact {
    padding: 60px 10px;
  }

  /* line 52, ../sass/responsive.scss */
  #nav {
    padding: 30px 10px;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  /* line 59, ../sass/responsive.scss */
  #about .aboutMe .rightCont {
    float: left;
    width: 67%;
    margin-top: 20px;
  }
}
