$ralewayFont : Raleway, sans-serif;
$latoFont : Lato, sans-serif;
$josefinFont : Josefin Sans, sans-serif;

$primary-color: #0e82f9;
$secondary-color: #4a4a4a;
$title-color :#232323;
$white-color: #fff;

$primary-bgcolor:#f8f9fb;
$secondary-bgcolor:#26272f;